[run]
branch = True
command_line = -m pytest
source = todd/

[report]
exclude_lines =
    pragma: no cover

    def __repr__

    raise AssertionError
    raise NotImplementedError

    if __name__ == .__main__.:

    class .*\(.*\bProtocol\b.*\):
    @(abc\.)?abstractmethod
    @overload
