[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
einops = "*"
ipdb = "*"
opencv-python = "*"
pytest = "*"
torch = "*"
torchvision = "*"
typing-extensions = "*"
setuptools = "*"
lmdb = "*"
tqdm = "*"
pandas = "*"
timm = "*"
mypy = "*"
yapf = "*"
isort = "*"
pre-commit = "*"
codespell = "*"
coverage = "*"
docformatter = "*"
flake8 = "*"
sphinx = "*"
python-docs-theme = "*"

[dev-packages]

[requires]
python_version = "3.8"
