[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
einops = "*"
ipdb = "*"
mmcv = ">=1.4.2"
opencv-python = "*"
pytest = "*"
torch = "*"
torchvision = "*"
typing-extensions = "*"
setuptools = "*"
todd = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.8"
