name: lint

on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.11"]
    steps:
      - uses: LutingWang/todd/.github/actions/checkout-todd@main
      - uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python }}
      - name: Lint
        run: |
          pip install -U setuptools wheel
          pip install torch torchvision torchaudio
          pip install git+https://github.com/lvis-dataset/lvis-api.git@lvis_challenge_2021 --no-build-isolation
          pip install .[optional,lint,doc,test]
          pre-commit install
          pre-commit run -a
