name: test

on:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.11"]
    steps:
      - uses: LutingWang/todd/.github/actions/checkout-todd@main
        with:
          lfs: true
      - uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python }}
      - name: Test
        run: |
          pip install -U setuptools wheel
          pip install torch torchvision torchaudio
          pip install git+https://github.com/lvis-dataset/lvis-api.git@lvis_challenge_2021 --no-build-isolation
          pip install .[optional,test]
          coverage run
          coverage xml && coverage report -m
      - uses: codecov/codecov-action@main
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
